In [ ]:
# Import necessary libraries
import numpy as np
import pandas as pd
from scipy.spatial.distance import mahalanobis

# Function to calculate Mahalanobis distance
def mahalanobis_distance(u, v, VI):
    return mahalanobis(u, v, VI)

# Collaborative filtering function using Mahalanobis distance
def collaborative_filtering(data, user_id, VI):
    # Calculate the Mahalanobis distance between the target user and all other users
    distances = []
    target_user = data.loc[user_id].values
    for other_user_id in data.index:
        if other_user_id != user_id:
            other_user = data.loc[other_user_id].values
            distance = mahalanobis_distance(target_user, other_user, VI)
            distances.append((other_user_id, distance))
    
    # Sort distances
    distances.sort(key=lambda x: x[1])
    
    # Return the sorted list of distances
    return distances

## Load

In [2]:
features = pd.read_csv("../data/features/user_behaviour_offer_viewed.csv")
features.head()

,profile_id,age,income,gender_F,gender_M,gender_O,become_member_on_year_2013,become_member_on_year_2014,become_member_on_year_2015,become_member_on_year_2016,...,offer_7,offer_8,offer_9,offer_type_bogo,offer_type_discount,offer_type_informational,channels_email,channels_mobile,channels_social,channels_web
0,0009655768c64bdeb2e877511632db8f,33,72000.0,False,True,False,False,False,False,False,...,3,0,0,4,4,6,4,4,3,3
1,0011e0d4e6b944f998e987f904e8c1e5,40,57000.0,False,False,True,False,False,False,False,...,3,0,2,3,6,6,5,4,2,4
2,0020c2b971eb4e9188eac86d93036a77,59,90000.0,True,False,False,False,False,False,True,...,0,0,0,4,4,3,3,3,3,2
3,0020ccbbb6d84e358d3414a3ff76cffd,24,60000.0,True,False,False,False,False,False,True,...,0,0,0,7,4,3,4,4,3,3
4,003d66b6608740288d6cc97a6903f4f0,26,73000.0,True,False,False,False,False,False,False,...,3,0,0,0,8,6,4,4,3,3

## Train

In [ ]:
# Sample data
data = pd.DataFrame({
    'user_id': [1, 2, 3, 4],
    'item_1': [5, 4, 1, 2],
    'item_2': [3, 2, 5, 1],
    'item_3': [1, 2, 3, 4]
}).set_index('user_id')

# Calculate the inverse covariance matrix
VI = np.linalg.inv(np.cov(data.T))

# Use the collaborative filtering function
user_id = 1
distances = collaborative_filtering(data, user_id, VI)

# Display the results
print("Distances from user", user_id, "to other users:")
for other_user_id, distance in distances:
    print(f"User {other_user_id}: {distance}")

## Test