In [22]:
import pandas as pd

## Read

In [23]:
transcript = pd.read_json('../data/raw/transcript.json', orient='records', lines=True)
transcript.head()

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0

## Rename

In [24]:
transcript = transcript.rename(columns={'person': 'profile_id'})

## Clean

In [25]:
# Flatten the 'value' column and join it with the original dataframe
transcript_flattened = pd.json_normalize(transcript['value'])

# Concatenate the flattened columns with the original dataframe
transcript = pd.concat([transcript.drop(columns=['value']), transcript_flattened], axis=1).drop("offer_id", axis=1)

# Rename offer id to portfolio_id
transcript = transcript.rename(columns={'offer id': 'portfolio_id','reward':'transcript_reward'})

# Display the first few rows of the transformed dataset
transcript.head()

,profile_id,event,time,portfolio_id,amount,transcript_reward
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN
1,a03223e636434f42ac4c3df47e8bac43,offer received,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN
2,e2127556f4f64592b11af22de27a7932,offer received,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN
4,68617ca6246f4fbc85e91a2a49552598,offer received,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,NaN

## Save

In [26]:
transcript.to_csv('../data/processed/transcript.csv', index=False)