In [8]:
import pandas as pd

## Read

In [9]:
portfolio = pd.read_json('../data/raw/portfolio.json', orient='records', lines=True)
portfolio.head()

,reward,channels,difficulty,duration,offer_type,id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7

## Rename

In [10]:
portfolio = portfolio.rename(columns={'id': 'portfolio_id'})
portfolio.head()

,reward,channels,difficulty,duration,offer_type,portfolio_id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7

## Clean

In [11]:
portfolio = portfolio.explode('channels')
portfolio.head()

,reward,channels,difficulty,duration,offer_type,portfolio_id
0,10,email,10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
0,10,mobile,10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
0,10,social,10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,web,10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
1,10,email,10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0

## Save

In [12]:
portfolio.to_csv('../data/processed/portfolio.csv', index=False)