In [34]:
import pandas as pd

In [35]:
def create_dummy_columns(df, column_name):
    return pd.get_dummies(df, columns=[column_name], prefix=column_name)

In [36]:
profile = pd.read_json('../data/profile.json', orient='records', lines=True)
profile.head()

  gender  age                                id  became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783          20170212       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5          20180712       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43          20170804       NaN

In [37]:
profile = create_dummy_columns(profile,"gender")
profile.head()

,age,id,became_member_on,income,gender_F,gender_M,gender_O
0,118,68be06ca386d4c31939f3a4f0e3dd783,20170212,NaN,False,False,False
1,55,0610b486422d4921ae7d2bf64640c50b,20170715,112000.0,True,False,False
2,118,38fe809add3b4fcf9315a9694bb96ff5,20180712,NaN,False,False,False
3,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,True,False,False
4,118,a03223e636434f42ac4c3df47e8bac43,20170804,NaN,False,False,False

In [32]:
# Convert became_member_on to datetime and create new column
profile['become_member_on_date'] = pd.to_datetime(profile['became_member_on'], format='%Y%m%d')
profile.head()

,age,id,became_member_on,income,gender_F,gender_M,gender_O,become_member_on_date
0,118,68be06ca386d4c31939f3a4f0e3dd783,20170212,NaN,False,False,False,2017-02-12
1,55,0610b486422d4921ae7d2bf64640c50b,20170715,112000.0,True,False,False,2017-07-15
2,118,38fe809add3b4fcf9315a9694bb96ff5,20180712,NaN,False,False,False,2018-07-12
3,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,True,False,False,2017-05-09
4,118,a03223e636434f42ac4c3df47e8bac43,20170804,NaN,False,False,False,2017-08-04

In [33]:
# Get the latest membership date
latest_date = profile['became_member_on_date'].max()
print(latest_date)

KeyError: 'became_member_on_date'

In [22]:


# Apply the function to create a new column with list of dates
profile['days_since_last_member'] = profile['became_member_on']

profile.head()

,age,id,became_member_on,income,gender_F,gender_M,gender_O,new,days_since_last_member
0,118,68be06ca386d4c31939f3a4f0e3dd783,20170212,NaN,False,False,False,DatetimeIndex(['1970-01-01 00:00:00.020170212'...,20170212
1,55,0610b486422d4921ae7d2bf64640c50b,20170715,112000.0,True,False,False,DatetimeIndex(['1970-01-01 00:00:00.020170715'...,20170715
2,118,38fe809add3b4fcf9315a9694bb96ff5,20180712,NaN,False,False,False,DatetimeIndex(['1970-01-01 00:00:00.020180712'...,20180712
3,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,True,False,False,DatetimeIndex(['1970-01-01 00:00:00.020170509'...,20170509
4,118,a03223e636434f42ac4c3df47e8bac43,20170804,NaN,False,False,False,DatetimeIndex(['1970-01-01 00:00:00.020170804'...,20170804

In [15]:
portfolio = pd.read_json('../data/portfolio.json', orient='records', lines=True)
portfolio.head()

,reward,channels,difficulty,duration,offer_type,id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7

In [11]:
user_behaviour = pd.read_csv('../data/features/user_behaviour.csv')
user_behaviour.head()

,profile_id,event,time,portfolio_id,amount,reward_x,reward_y,channels,difficulty,duration,offer_type,gender,age,became_member_on,income
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN,5.0,"['web', 'email', 'mobile']",5.0,7.0,bogo,F,75,20170509,100000.0
1,a03223e636434f42ac4c3df47e8bac43,offer received,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,5.0,"['web', 'email']",20.0,10.0,discount,NaN,118,20170804,NaN
2,e2127556f4f64592b11af22de27a7932,offer received,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN,2.0,"['web', 'email', 'mobile']",10.0,7.0,discount,M,68,20180426,70000.0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN,2.0,"['web', 'email', 'mobile', 'social']",10.0,10.0,discount,NaN,118,20170925,NaN
4,68617ca6246f4fbc85e91a2a49552598,offer received,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,NaN,10.0,"['web', 'email', 'mobile', 'social']",10.0,5.0,bogo,NaN,118,20171002,NaN